[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
requests = "*"
lavalink = "*"
"chess.com" = "*"
pylint = "*"
datetime = "*"

[dev-packages]

[requires]
python_version = "3.8"
